################################################################################
# NAMESPACE
################################################################################
apiVersion: v1
kind: Namespace
metadata:
  name: {{ aks_namespace }}

---

################################################################################
# PERSISTENT VOLUME CLAIM (backend)
################################################################################
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-pvc
  namespace: {{ aks_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default

---

################################################################################
# BACKEND DEPLOYMENT  (Redis reenvasado en tu ACR)
################################################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ aks_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: {{ acr_login_server }}/back:{{ acr_tag }}   # <<< ***ESTO ES LO IMPORTANTE***
          env:
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: backend-storage
              mountPath: /data
      volumes:
        - name: backend-storage
          persistentVolumeClaim:
            claimName: backend-pvc

---

################################################################################
# BACKEND SERVICE
################################################################################
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{ aks_namespace }}
spec:
  selector:
    app: backend
  ports:
    - port: 6379
      targetPort: 6379

---

################################################################################
# FRONTEND DEPLOYMENT  (tu Azure Vote reenvasado)
################################################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ aks_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
        - name: frontend
          image: {{ acr_login_server }}/front:{{ acr_tag }} 
          ports:
            - containerPort: 80
          env:
            - name: REDIS
              value: "backend"

---

################################################################################
# FRONTEND SERVICE (LoadBalancer)
################################################################################
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: {{ aks_namespace }}
spec:
  selector:
    app: frontend
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80